.container{
  background-color: darkkhaki;
  border: 1px solid black;
}
section{
  background-color:darkorchid; 
  border: 1px solid black;
}

header{
  height: 80px;
  background-color:coral;
  position: fixed;
  width: 100%;
}
[class^="col"]{
  border: 1px solid black;
}
li{
  list-style: none;
}


.start{
  padding-top: 80px;
  height: 600px;
}



.h_250{
  height: 250px;
}
.img-portfolio{
  height: 200px;
  width: 200px;
  margin: 0 auto;
  
 
}
.img-portfolio img{
  border-radius: 50%;
}

.about{
  height: 450px;
}

.container_sc{
  max-width:970px;
  margin: 0 auto;
}

.contact-me{
  height: 700px;
}